
form{
    margin-top: 12%;
    
}
input{
    width:50%;
    margin-left:25%;
}
.signInbt{
    width: 50%;
    margin-left:25%;
    margin-top: 5%;
}
label{
    margin-left:25%;
}

#info{
    margin-top: 10%;
    margin-left:20%;
}
.loginbt{
    margin-left: 90%;
    border-radius: 0.5vh;
    background-color: white;
}