
<div class="main">
<span class="header">User<a>Add User</a><a routerLink="user-list">Users</a></span>
    <div class="container"> 
        <form #userData="ngForm"(ngSubmit)="ngsubmit(userData.value)">
            <table>
                <tr style="margin-left: 52%;">
                    <td> First Name</td>
                    <td><input type="text" name="firstname" ngModel placeholder="First Name"></td>
                </tr>
                <tr>
                    <td> last Name</td>
                    <td><input type="text" name="lastName" ngModel placeholder="last Name"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="email" ngModel placeholder="Email"></td>
                </tr>

                <tr>
                    <td>Phone</td>
                    <td><input type="text" name="phone" ngModel placeholder="Phone"></td>
                </tr>

                <tr>
                    <td>Role</td>
                    <td> <select name="role" id="role" ngModel placeholder="select role">
                             <option value="" disabled selected hidden>Select role</option>
                            <option value="hr">hr</option>
                            <option value="manager">manager</option>
                            <option value="engineer">engineer</option>
                            <option value="admin">admin</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Status</td>
                    <td> <select name="status" id="staus" ngModel placeholder="select status">
                        <option value="" disabled selected hidden>Select staus</option>
                       <option value="active">active</option>
                       <option value="inactive">inactive</option>
                   </select>
               </td>                </tr>

                <tr>
                    <td>Password</td>
                    <td><input type="text" name="password" ngModel placeholder="Password"></td>
                </tr>

                <tr>
                    <td>Confirm Password</td>
                    <td><input type="text" name="cnfpPass" ngModel placeholder=" confirm Password"></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit" id="saveButton">Save</button></td>
                </tr>
        </table>
        </form>   
    </div>
</div>

<router-outlet></router-outlet>