#section{
    height: 5vh;
    width: 90vw;
    margin-left: 4vw;

}

.addUser{
    background-color:blue;
    float: right;
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    height: 5vh;
    width: 7vw;
    margin-top: 3vh;
    border-radius: 1vh;
    
}
.cont{
    margin-top: 10vh;
}
td{
    padding-left: 10vw;
    padding-top: 5vh;
}
th{
    padding-left: 10vw;
   
}

#delete{
    background-color: red;
    color: white;
    font-weight: bold;
    height:4vh;
    width:5vw;
}
#edit{
    background-color: green;
    color: white;
    font-weight: bold;
    height:4vh;
    width:5vw;
    margin-right: 0.5vw;
}
.paginate{
    margin-top: 12vh;
    float: right;
    
}.utility{
    margin-bottom: 4vh;
}
.sort{
    margin-top: 1vh;
    margin-left: 3vw;
    margin-bottom: 5vh;
    width:7vw;
    height:2.5vw; 
    background-color:rgb(240, 240, 240);
    color:black;
    border-radius: 1vh;
}

/* 
#filter{
    width:7vw;
    height:2.5vw; 
    background-color:rgb(240, 240, 240);
    color:black;
    border-radius: 1vh;
    margin-left: 3vw; 
} */

.col{
    margin-left: 5vw;
}
