img{
    margin-top:30% ;
    
}
form{
    margin-top: 12%;
    
}
input{
    width:80%;
    margin-left:12%;
}
h4{
    margin-left:12%;
}
p{
    margin-left:12%;
    margin-bottom: 8%;
}
.signInbt{
    width: 80%;
    margin-left:12%;
}
.loginbt{
    margin-left: 90%;
    border-radius: 0.5vh;
    background-color: white;
}
span{
    color: red;
    margin-left: 12%;
}