.main{
    background-color: rgb(240, 240, 240);
    height: 100%;
}

.row{
    margin-left: 5vw;
}


.block{
    background-color:white;
    margin-left: 5vw;
    margin-top: 5vh;
    height:15vh;
    border-radius: 1vh;
    
    
}
span{
    display:inline-block;
}
.totalUser{
    margin-left: 6vw;
    background-color:oldlace;
    border-radius: 5vh;
    height: 8vh;
    width: 4vw;
    text-align: center;
    color: peru;    
    margin-top: 3vh;
}
i{
    margin-top: 3vh;
}
.inactiveUser{
    margin-left: 6vw;
    background-color:oldlace;
    border-radius: 5vh;
    height: 8vh;
    width: 4vw;
    text-align: center;
    color: rgb(235, 21, 32);    
    margin-top: 3vh;

}
.activeUser{
    margin-left: 6vw;
    background-color:oldlace;
    border-radius: 5vh;
    height: 8vh;
    width: 4vw;
    text-align: center;
    color: rgb(41, 199, 49);    
    margin-top: 3vh;

}
#space{
    margin-left: 2vw;
    margin-top: 1vw;
}